<div class="container">
  <div ng-if="isSignedIn">

    <form novalidate class="form-horizontal">
      <fieldset>
        <legend>Create a new Progress</legend>
        <div class="form-group">
          <label for="inputTitle" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputTitle" ng-model="progress.title" placeholder="Enter your title">
          </div>
        </div>
        <div class="form-group">
          <label for="inputDescription" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputDescription" ng-model="progress.description" placeholder="Enter your description">
          </div>
        </div>
        <div class="form-group">
          <label for="inputProgress" class="col-lg-2 control-label">Initial Progress</label>
          <div class="col-lg-10">
            <input type="number" class="form-control" id="inputProgress" ng-model="progress.progress" placeholder="0.0">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary" ng-click="create(progress)">Create</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>
</div>
