<div class="container">

  <div ng-if="!isSignedIn">
    <div class="jumbotron">
      <h2><i class="ion-stats-bars"></i> Progress</h2>
      <p>To use Progress, please log in with your Google+ account.</p>
      <p>
        <a class="btn btn-lg btn-primary" ng-click="signIn(false)"><i class="ion-log-in"></i> Log in</a>
      </p>
    </div>
  </div>

  <div ng-if="isSignedIn">
    <div class="row">
      <div class="col-md-3 col-xs-3"><h5>My Progresses</h5></div>
      <div class="col-md-5 col-xs-5">
        <div class="btn-toolbar pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-primary" ng-click="showCreate()">Create New</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-xs-8">
        <div class="list-group">
          <div class="list-group-item" ng-repeat="progress in progresses" >
            <h5 class="list-group-item-heading">{{progress.title}}</h5>
            <p class="list-group-item-text">{{progress.description}}</p>
            <div class="progress" style="margin: 8px 0px 0px 0px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.progress}}"
                  aria-valuemin="0" aria-valuemax="100" style="min-width: 1em; width:{{progress.progress}}%">{{progress.progress}}%
              </div>
            </div>
            <p class="list-group-item-text">
              <small>{{progress.progress}}% completed, updated {{progress.lastUpdated | timeago}} ago, ID {{progress.id}}</small>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-8 col-xs-8">
        <nav>
          <ul class="pager">
            <li><a href="#" ng-show="thisPageToken" ng-click="firstProgresses()">First</a></li>
            <li><a href="#" ng-click="refreshProgresses()">Refresh</a></li>
            <li><a href="#" ng-show="nextPageToken" ng-click="nextProgresses()">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>
